<div class="banner-part">
    <h1>About us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus minima neque tempora reiciendis.</p>
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
        <div class="love-img">
            <img src="../../../assets/hero_1.jpg" width="400px" height="auto">
        </div>
        <div class="love-care">
            <h1>We Solve Your Financial Problem</h1>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind.
            </p>
        </div>
    </div>
</div>