<section class="foot-page">
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
        <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="80" fxFlex.xs="80">
            <div>

            </div>
            <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="80" fxFlex.xs="80">

                <h4>About Us</h4>
                <p>Lorem ipsum dolor sit amet</p>
                <p>consectetur adipisicing elit. Neque</p>
                <p>facere laudantium magnam</p>
                <p>voluptatum autem. Amet aliquid</p>
                <p>nesciunt veritatis aliquam.</p>
            </div>
            <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="80" fxFlex.xs="80">
                <h4>Quick Links</h4>
                <a href="#team">Terms</a>
                <a href="#team">Terms</a>
                <a href="#team">Terms</a>
                <a href="#team">Terms</a>
                <a href="#team">Terms</a>
                <a href="#team">Terms</a>
            </div>
            <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="80" fxFlex.xs="80">
                <h4>Follow Us</h4>
            </div>
            <div fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="20" fxFlex.sm="80" fxFlex.xs="80">
                <h4>Subscribe Newsletter</h4>
                <input type="text" placeholder="Enter Email"><button>send</button>
            </div>
        </div>
    </div>
</section>