<section>
  <div align="center" class="service">
    <h1>Our Services</h1>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="space-evenly center" class="service-content">
    <div fxLayout="row wrap" fxLayoutAlign="center" class="service-content">
      <div fxFlex.xs="90" fxFlex.sm="80" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
        <img src="../../../assets/flaticon-svg/svg/001-wallet.svg" width="25%" />
        <h1>Business Consulting</h1>
        <p>
          A small river named Duden flows by their place and supplies it with
          the necessary regelialia.
        </p>
        <button mat-button>Learn More</button>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center" class="service-content">
      <div fxFlex.xs="90" fxFlex.sm="80" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
        <img src="../../../assets/flaticon-svg/svg/006-credit-card.svg" width="100px" height="40px" />
        <h1>Business Consulting</h1>
        <p>
          A small river named Duden flows by their place and supplies it with
          the necessary regelialia.
        </p>
        <button mat-button>Learn More</button>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center" class="service-content">
      <div fxFlex.xs="90" fxFlex.sm="80" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
        <img src="../../../assets/flaticon-svg/svg/002-rich.svg" width="100px" height="40px" />
        <h1>Business Consulting</h1>
        <p>
          A small river named Duden flows by their place and supplies it with
          the necessary regelialia.
        </p>
        <button mat-button>Learn More</button>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center" class="service-content">
      <div fxFlex.xs="90" fxFlex.sm="80" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
        <img src="../../../assets/flaticon-svg/svg/003-notes.svg" width="100px" height="40px" />
        <h1>Business Consulting</h1>
        <p>
          A small river named Duden flows by their place and supplies it with
          the necessary regelialia.
        </p>
        <button mat-button>Learn More</button>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center" class="service-content">
      <div fxFlex.xs="90" fxFlex.sm="80" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
        <img src="../../../assets/flaticon-svg/svg/004-cart.svg" width="100px" height="40px" />
        <h1>Business Consulting</h1>
        <p>
          A small river named Duden flows by their place and supplies it with
          the necessary regelialia.
        </p>
        <button mat-button>Learn More</button>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center" class="service-content">
      <div fxFlex.xs="90" fxFlex.sm="80" fxFlex.md="30" fxFlex.lg="30" fxFlex.xl="30">
        <img src="../../../assets/flaticon-svg/svg/005-megaphone.svg" width="100px" height="40px" />
        <h1>Business Consulting</h1>
        <p>
          A small river named Duden flows by their place and supplies it with
          the necessary regelialia.
        </p>
        <button mat-button>Learn More</button>
      </div>
    </div>

  </div>
</section>