<div class="shoping">
<div fxLayout="row" fxLayoutAlign="center">
    <div class="card">
        <img src="../../../assets/flaticon-svg/svg/001-wallet.svg" width="50px" height="50px">
        <h1>Money Savings</h1>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
    </div>
    <div class="card">
        <img src="../../../assets/flaticon-svg/svg/004-cart.svg" width="50px" height="50px">
        <h1>Online Shoppings</h1>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
    </div>
    <div class="card">
        <img src="../../../assets/flaticon-svg/svg/006-credit-card.svg" width="50px" height="50px">
        <h1>Credit / Debit Cards</h1>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
    </div>
</div>
<div class="banner">
    <div fxLayout="row wrap" fxLayoutAlign="space-around center">
        <div>
            <img src="../../../assets/about_2.jpg" width="600px" height="400px">
        </div>
        <div>
            <h1>Amortization Computation</h1>
            <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
        <li>Officia quaerat eaque neque</li>
        <li>Lorem ipsum dolor sit amet</li>
        <li>Consectetur adipisicing elit</li>
        <input type="text" placeholder="Enter your email"><button>Submit Email</button>
        </div>
    </div>
    </div>