<section class="header">
    <div>
        <h1 align="center">Our Blog</h1>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center" class="img-content">
        <div fxFlex.xs="95" fxFlex.sm="95" fxFlex.md="45" fxFlex.lg="27" fxFlex.xl="27">
            <img src="../../../assets/about_2.jpg" height="auto" width="350px">
            <h3>A Basic Guide to Starting a Franchise in the Philippines</h3>
            <span>Ham Brook • Jan 18, 2019</span><button mat-button> .News</button>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente
                veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
            <button mat-button>Continue Reading...</button>
        </div>
        <div fxFlex.xs="90" fxFlex.sm="90" fxFlex.md="45" fxFlex.lg="27" fxFlex.xl="27">
            <img src="../../../assets/img_4.jpg" height="auto" width="350px">
            <h3>A Basic Guide to Starting a Franchise in the Philippines</h3>
            <span>James Phelps • Jan 18, 2019</span><button mat-button> .News</button>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente
                veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
            <button mat-button>Continue Reading...</button>
        </div>
        <div fxFlex.xs="90" fxFlex.sm="90" fxFlex.md="90" fxFlex.lg="27" fxFlex.xl="27">
            <img src="../../../assets/img_3.jpg" height="auto" width="350px">
            <h3>A Basic Guide to Starting a Franchise in the Philippines</h3>
            <span>James Phelps • Jan 18, 2019</span><button mat-button> .News</button>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente
                veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
            <button mat-button>Continue Reading...</button>
        </div>
    </div>
</section>