<section class="customer">
    <div align="center">
        <h1>Happy Customers</h1>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <p>“Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One
            day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of
            Grammar.”</p>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
        <img src="../../../assets/person_5.jpg" width="50px" height="50px">
        <p>John smith</p>
    </div>
</section>